body {
  background-color: #6E3667;
}


h1 {
  font-family: 'Creepster', cursive;
  font-size: 50px;
  color: #88D317;
}

.penny {
position: absolute;
bottom: 0;
}

.instructions {
  position: relative;
  margin-left: 500px;
  width: 400px;
  color: #ffffff;
  font-size: 30px;
  line-height: 40px;
  font-family: 'Creepster', cursive;
  position: absolute;
  margin-top: 30px;

}

.load, .button {
  background-color: #1A0315;
  color: #88D317;
  font-family: 'Creepster', cursive;
  padding: 30px;
  font-size: 25px;
}

.button {
  margin: 20px;
  position: relative;
}

.choices {
  text-align: center;
}

.play {
  font-family: 'Creepster', cursive;
  font-size: 50px;
  color: #88D317;;
}

.question {
  position: relative;
  margin-top: 100px;
  text-align: center;
}


