body {
  background-color: #6E3667;
}


h1 {
  font-family: 'Creepster', cursive;
  font-size: 70px;
  color: #ffffff;
}

.hangman {

}

/*hang man construction*/

.post-top {
width: 250px;
height: 5px;
background: #88D317;
}

.post {
width: 10px;
height: 500px;
background: #88D317;
float: left;
}

.post-bottom {
width: 350px;
height: 5px;
background: #88D317;
position: relative;
top: 500px;
}

.instructions {
  position: relative;
  margin-left: 400px;
  margin-top: -50px;
  width: 400px;
  color: #88D317;
  font-size: 30px;
  line-height: 40px;
  font-family: 'Creepster', cursive;
}

.play {
  background-color: #1A0315;
  color: #ffffff;
  font-family: 'Creepster', cursive;
  padding: 30px;
  font-size: 25px;
}
